@keyframes moveRight{
    from {
        left: -300px;
    }
    to {
        left: 10px;
    }
}

@keyframes moveRight2 {
    from {
        left: -900px;
    }
    to {
        left: 10px;
    }
}

@keyframes moveDown {
    from {
        top: -150px;
    }
    to {
        top: 0px;
    }
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

body {
    overflow: hidden;
}

header {
    position: relative;
    padding: 10px;
}

.logoCont {
    position: relative;
    animation: moveDown 2s forwards;
}

.logo {
    margin-top: 39px;
    margin-left: 58px;
    width: auto;
    height: 73px; 
}


.brand {
    font-family: 'Poppins';
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}


.logoPos {
    font-size: 40px;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    gap: 300px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-right: 46px;
    margin-top: -85px;
}

nav ul a {
    font-family: 'Poppins';
    color: black;   
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    margin-right: 70px;
    box-sizing: border-box;
    padding: 10px;
    transition: 0.4s;
}

ul a:hover {
    background-color: #dadada;
    border-radius: 10px;
    padding: 10px;
}

.type {
    font-size: 128px;
    font-family: 'Poppins';
    color: black;
    margin-left: 50px;
    margin-top: 200px;
    position: relative;
    animation: moveRight2 3s forwards;
}

.containerCirc {
    display: flex;
    flex-direction: column;
}

.circle1 {
    position: relative;
    background-color: #A8A7A7;
    border-radius: 50%;
    width: 1220px;
    height: 1200px;
    margin-top: -640px;
    margin-left: 1200px;
    animation: popIn 2s ease-out forwards;
}

.circle2 {
    position: absolute;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 1219px;
    height: 1244px;
    margin-top: -600px;
    margin-left: 1250px;
    animation: popIn 2s ease-out forwards;
}

.text2 {
    display: flex;
    width: 209px;
    height: 65px;
    border-radius: 30px;
    background-color: #D9D9D9;
    margin-left: 50px;
    margin-top: -60px;
    position: relative;
    animation: moveRight 2s forwards;
}

.type1 {
    color: black;
    font-size: 32px;
    font-family: 'Poppins';
    font-weight: normal;
    margin-left: 30px;
    margin-top: 10px;
}

.arrowWid {
    position: absolute;
    color: #4D4D4D;
    height: 50px;
    margin-top: -80px;
    margin-left: 130px;
}

.login{
    text-decoration: none;
}